.active.red * {
    background-color: #FF5A36 !important;
}

.top-bar {
    position: fixed;
    border-bottom: 1px solid #000000;
}

.side-nav {
    padding: 0;
    margin: 0;
}

.top-bar {
    top: 0;
    right: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
}

@media (max-width: 940px) {

    .top-bar-section {
        max-width: 70%; /* marche pas */
    }
}

#content {
    margin: 2rem 0 0 18rem;
    padding-top: 4rem;
}

.side {
    width: 12rem;
    height: 100%;
    background-color: #333333;
    color: #FFFFFF;
    position: absolute
}

.side li:hover {
    background-color: #222222;
}

.side ul > li a:not(.button) {
    color: white;
}

/* Loading screen css */
.windows8 {
    position: relative;
    width: 44px;
    height: 44px;
    top: 200px;
    margin: auto;
}

.windows8 .wBall {
    position: absolute;
    width: 42px;
    height: 42px;
    opacity: 0;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    animation: orbit 5.7425s infinite;
    -webkit-animation: orbit 5.7425s infinite;
    -moz-animation: orbit 5.7425s infinite;
}

.windows8 .wBall .wInnerBall {
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgb(0, 0, 0);
    left: 0;
    top: 0;
    border-radius: 5px;
}

.windows8 #wBall_1 {
    animation-delay: 1.256s;
    -webkit-animation-delay: 1.256s;
    -moz-animation-delay: 1.256s;
}

.windows8 #wBall_2 {
    animation-delay: 0.243s;
    -webkit-animation-delay: 0.243s;
    -moz-animation-delay: 0.243s;
}

.windows8 #wBall_3 {
    animation-delay: 0.5065s;
    -webkit-animation-delay: 0.5065s;
    -moz-animation-delay: 0.5065s;
}

.windows8 #wBall_4 {
    animation-delay: 0.7495s;
    -webkit-animation-delay: 0.7495s;
    -moz-animation-delay: 0.7495s;
}

.windows8 #wBall_5 {
    animation-delay: 1.003s;
    -webkit-animation-delay: 1.003s;
    -moz-animation-delay: 1.003s;
}

@keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin: 0%;
    }

    30% {
        opacity: 1;
        transform: rotate(410deg);
        animation-timing-function: ease-in-out;
        origin: 7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin: 30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin: 39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin: 70%;
    }

    76% {
        opacity: 0;
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 0%;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin: 7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 70%;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 0%;
    }

    30% {
        opacity: 1;
        -moz-transform: rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin: 7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 70%;
    }

    76% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}

nav .menu-icon {
    color: #FFFFFF;
    display: block;
    height: 2.8125rem;
    position: relative;
    text-indent: 2.1875rem;
    transform: translate3d(0, 0, 0);
    width: 2.8125rem;
}

.buttons {
    display: inline;
    position: absolute;
    right: 0.5rem;
}

.buttons .button {
    margin-bottom: 0;
}

.event, .user {
    position: relative;
    margin: 1.5rem;
    padding: 0.5rem 0.5rem 1.5rem;
    border: 2px solid darkgrey;
    border-radius: 4px;
}

.event h3, .user h3 {
    display: inline;
}

nav .menu-icon span::after {
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
    left: 0.90625rem;
    box-shadow: 0 0 0 2px #056687, 0 8px 0 2px #056687, 0 16px 0 2px #056687;
    width: 1.5rem;
}

.mobile-nav {
    display: inline-flex;
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    transition: left 1s;
    padding: 25px 0 0;
}

.mobile-nav-item {
    display: block;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: center;
}

.mobile-nav-item a {
    text-decoration: none;
    color: #056687;
    text-transform: uppercase;
}

.mobile-nav-item:hover {
    background-color: #CECECE
}

.mobile-nav-item.active a {
    color: #FF5A36;
}

.mobile-nav {
    width: 15rem;
    background-color: #333333;
    color: #FFFFFF;
    position: fixed;
    left: 0;
    height: 100%;
    z-index: 2;
    display: block;
    border: none;
}

#button-open, #button-open-input {
    width: 50px;
    height: 40px;
    position: fixed;
    top: 4px;
    left: 4px;
    z-index: 2;
    display: none;
}

#button-open-input {
    opacity: 0;
    z-index: 3;
    padding: 0;
    margin: 0;
}

#button-open-input:hover {
    cursor: pointer;
}

#button-close-input {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(115, 115, 115, 0.5);
    right: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    display: none;
    transition: background-color 1000ms linear
}

#button-close-input:checked ~ ul {
    left: -80%;
}

#button-close-input:checked {
    right: -100%;
    transition: background-color 1000ms linear
}

#button-open-input, #button-open, #button-close-input {
    display: block;
}

nav .menu-icon span:hover:after {
    box-shadow: 0 0 0 1px #b3b3b3, 0 7px 0 1px #b3b3b3, 0 14px 0 1px #b3b3b3;
}

nav .left-small {
    border: none;
}