header {
	display: none;
}

footer {
	display: none;
}


@font-face {
    font-family: "Armata";
    src: url("../font/Armata-Regular.otf");
}
@font-face {
    font-family: "Liberation Sans";
    src: url("../font/LiberationSans-Regular.ttf");
}
body {
    background: #f6f6f6;
    height: auto;
    font-family: "Liberation Sans", sans-serif ;
    position: relative;
    min-height: 100%;
    padding-bottom: 215px;
}

body > main > .row {
    margin: 20px auto;
}

main {
    padding-bottom: 30px;
}

.prefix {
    z-index: 0;
}

.conf-big-panel:hover {
    box-shadow:2px 2px 7px 2px #057FA7;
}

a {
    color:#056687;
}

a:hover {
    color: #052087;
}

button[data-filter] {
    width: 4.8rem;
    padding: 2px; 
}

small {
    font-size: 13px;
}

.columns.small-right, .columns.large-right {
    float: right;
}

#accueil {
    background: url("../img/background-accueil.png") no-repeat center top;
    background-size: cover;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;*/
    padding: 50px 0;
}

@media (min-width: 650px) {
    #accueil {
        margin: 0 auto;
        max-width: 85rem;
    }
    /* Only needed on non ajax usage
    .small-footer {
        display: none;
        }*/
    }

@media (max-width: 649px) {
/* Only needed on non ajax usage
.large-footer {
    display: none;
    }*/
}

.panel {
    /*-moz-box-shadow: 1px 1px 5px 2px #c0c0c0;
    -webkit-box-shadow: 1px 1px 5px 2px #c0c0c0;*/
    box-shadow: 1px 1px 5px 2px #c0c0c0;
    background-color: #FFF;
    border: none;
}

#accueil .panel { /*L'ombre est plus sombre pour être visible */
    /*-moz-box-shadow: 1px 1px 5px 2px #9B9B9B;
    -webkit-box-shadow: 1px 1px 5px 2px #9B9B9B;*/
    box-shadow: 1px 1px 5px 2px #9B9B9B;
}

.inline-block {
    display: inline-block;
}

h1, h2 {
    text-align: center;
}
h1, h2, h3, a.button {
    font-family: Armata, sans-serif;
}
h1 {
    font-size: 27px;
}
h2 {
    font-size: 23px;
}
h3 {
    font-size: 19px;
    font-weight: bold;
}
h4 {
    font-size: 17px;
}
h5 {
    font-size: 15px;
}
h6 {
    font-size: 14px;
}

.note-0, .note-1, .note-2, .note-3, .note-4, .note-5, .note-6 {
    width: 109px;
    height: 92px;
    background: url("../img/hexagone-note-sprites.png");
    text-align: center;
    line-height: 92px;
    font-size: 1.8em;
    margin-bottom: 25px;
    color: #FFF;
}
.note-0 {
    background-position: 0 0;
}
.note-1 {
    background-position: 220px 0;
}
.note-2 {
    background-position: 111px 0;
}
.note-3 {
    background-position: 0 188px;
}
.note-4 {
    background-position: 220px 188px;
}
.note-5 {
    background-position: 111px 188px;
}
.note-6 {
    background-position: 0 284px;
}

.note ul {
    margin: 0;
}

.note ul > li{
    display: inline-block;
    list-style: none;
}

footer {
    background-color: #CECECE;
    padding-top: 15px;
    border-top: solid #056687 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

footer .row {
    max-width: 72.5rem;
}

footer .center, .links > a {
    text-align: center;
    display: block;
}

footer .links {
    margin: 15px 0;
}

.large-footer > .row {
    margin-bottom: 0.5rem;
}

.social.medium-6.large-6.columns.center {
    padding-top: 5px;
}

.social-link {
    padding-top: 5px;
}

.social > img {
    margin-top: 20px;
}

.sitemap {
    text-align: left;
    padding: 0 5px;
}

.sitemap a + a {
    display: block;
    max-width: 250px;
    border-top: solid #959595 1px;
}

.sitemap * {
    padding: 3px 15px;
}

footer .right {
    text-align: right;
}

h5 {
    margin-bottom: 15px;
}

.contact p {
    margin: 5px 0;
}

#legal-line {
    background-color: #737373;
    border-top: solid #959595 3px;
    color: #FFF;
}

#legal-line a {
    color: #FFF;
}

#legal-line a:hover {
    color: #FFF;
    text-decoration: underline;
}

.no-padding {
    clear: left;
}

input[type=radio] {
    margin: 0.5rem 0px 1rem;
}

.radio-participants {
    padding-left: 82px;
}

.small-5.large-5.columns {
    padding-right: 0;
}

.small-6.large-7.columns {
    padding-left: 0;
}

.small-3.large-1 {
    margin-left: 15px;
    position: absolute;
}

.small-3.large-2.columns.middle {
    padding-top: 5px;
    text-align: center;
}

.small-7.large-5.columns {
    float: left;
}

.radio-boutons {
    margin-left: 15px;
}

section .partage > img {
    padding: 0 5px;
}

section a img { 
    float: right;
}

#login-box{
    text-align: center;
    background-color: #FFF;
    padding-top: 30px;
    margin-bottom: 30px;
}

.decalage
{
    height: 100px;
}

div.large-3.columns.small-8
{
  padding-left: 0px;
  margin-top: 10px;
}

.titre
{
    margin-bottom: 20px;
}

@media only screen and (max-width: 40em) {
    h1 {
        font-size: 19px;
    }
    h2 {
        font-size: 17px;
    }
}

@media only screen and (min-width: 40em) and (max-width: 64em) {
    h1 {
        font-size: 23px;
    }
    h2 {
        font-size: 20px;
    }

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

@media only screen and (min-width: 64em) and (max-width: 90em) {
    h1 {
        font-size: 27px;
    }
    h2 {
        font-size: 23px;
    }
} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

.panel.grid-item {
    margin-left: 5px;
    padding: 1rem;
}

.panel h4 {
    font-size: 16px;
}

.panel h5 {
    font-size: 16px;
}

.panel.grid-item.days {
    width: 100%;
}

header {
    border-bottom: solid #056687 5px;
}

header .row {
    max-width: 72.5rem;
    margin-bottom: 0.5rem;
    max-height: 3rem;
}

header button {
    padding: 5px;
    margin: 10px 5px 5px 5px ;
    min-width: 115px;
}

header .align-right {
    float:right;
}

span.prefix {
    height: 1.6rem;
    background: url("../img/ico_search.svg") no-repeat center;
    background-size: 1.4rem;
}

header form {
    display: inline-block;
    float:right;
    margin-right: 20px;
}

header ul {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
}

header li {
    display: inline-block;
}

header ul > li > a {
  border-bottom: 1px solid transparent;
}

header ul > li > a:hover {
    color: #056687;
    border-color: #056687;
}

header input[type="text"] {
    padding: 0;
    margin:  0;
    height: 1.6rem;
}

header li + li {
    padding: 0 8px;
}

header .row > .columns {
    padding: 0;
}

form .row .row.collapse {
    margin-bottom: 10px;
    margin-top: 10px;
}

header nav.tab-bar {
    background-color: #FFF;
}

.row.no-margin-top {
    margin-top: 0;
    padding: 0;
    max-width: 72.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

nav .left-small {
    position: relative;
}

nav img {
    height: 40px;
    width: 160px;
    padding-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

nav .menu-icon {
    color: #FFFFFF;
    display: block;
    height: 2.8125rem;
    padding: 0;
    position: relative;
    text-indent: 2.1875rem;
    transform: translate3d(0, 0, 0);
    width: 2.8125rem; 
}

nav .menu-icon span::after {
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
    left: 0.90625rem;
    box-shadow: 0 0 0 2px #056687, 0 8px 0 2px #056687, 0 16px 0 2px #056687;
    width: 1.5rem;
}

nav .menu-icon span:hover:after {
    box-shadow: 0 0 0 1px #b3b3b3, 0 7px 0 1px #b3b3b3, 0 14px 0 1px #b3b3b3; 
}

nav .left-small {
    border: none;
}


.hide-for-large .row + .row {
    width:  93%;
    height: 50%;
    padding: 0.2rem;
}

.mobile-nav{
    display: inline-flex;
    margin-left: 0;
    padding: 0px;
    margin-top: 0px;
    width: 100%;
    padding-top: 25px;
}

.mobile-nav-item{
    display: block;
    padding-bottom: 0px;
    padding-top: 4px;
    text-align: center;
}

.mobile-nav-item a{
    text-decoration: none;
    color: #056687;
    text-transform: uppercase;
}
.mobile-nav-item:hover {
    background-color: #CECECE
}

.mobile-nav-item.active a {
    color: #FF5A36;
}

@media (max-width:1025px){
    .mobile-nav{
        width: 13rem;
        background-color: #f6f6f6;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100%;
        z-index: 2;
        display: block;
        border: none;
    }
}

#button-open,#button-open-input{
    width: 50px;
    height: 40px;
    position: fixed;
    top: 4px;
    left: 4px;
    z-index: 2;
    display: none;
}
#button-open-input{
    opacity: 0;
    z-index: 3;
    padding: 0;
    margin: 0;
}

#button-close-input{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(115,115,115, 0.5);
    right: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    display: none;
}

#button-close-input:checked ~ ul{
    left: -80%;
}
#button-close-input:checked{
    right: -100%;
}

#button-open-input,#button-open,#button-close-input{
    display: block;
}

.mobile-nav h2 {
    padding-top: 2rem;
}

.panel .row {
    margin: 0px;
}