@font-face {
    font-family: "Armata";
    src: url("../font/Armata-Regular.otf");
}

@font-face {
    font-family: "Liberation Sans";
    src: url("../font/LiberationSans-Regular.ttf");
}

body {
    background: #f6f6f6;
    height: auto;
    font-family: "Liberation Sans", sans-serif;
    position: relative;
    min-height: 100%;
    padding-bottom: 7rem;
}

body > main > .row {
    margin: 3rem auto 6rem auto;
}

main > .row#search {
    margin: 0 auto;
}

.button, button, input[type="submit"].button {
    border-radius: 3px;
}

.large-3.columns.text-center input.button{
  margin-top: 20px;
}
img {
    margin-bottom:7px;
}

main {
    margin-bottom: 75px;
}

.conf-big-panel:hover, .conf-medium-panel {
    -webkit-transition: box-shadow 1s linear;
    -o-transition: box-shadow 1s linear;
    -moz-transition: box-shadow 1s linear;
    transition: box-shadow 500ms linear;
    box-shadow: 1px 1px 5px 2px #9B9B9B;
}

#list-conf .conf-medium-panel {
    width: 100%;
}

.conf-big-panel, .conf-medium-panel {
    min-height: 400px;
}

a {
    color: #056687;
    transition: color 1s;
}

button a {
    color: #ffffff;
    transition: color 1s;
}

button[data-filter] {
    width: 4.8rem;
    padding: 2px;
}

small {
    font-size: 13px;
}

.columns.small-right, .columns.large-right {
    float: right;
}

#accueil {
    background: url("../img/background-accueil.png") no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    padding: 50px 0;
}

.accueil h3 {
    font-weight: bold;
}

@media (min-width: 650px) {
    #accueil {
        margin: 0 auto;
        max-width: 85rem;
    }
}

.panel {
    -moz-box-shadow: 1px 1px 5px 2px #c0c0c0;
    -webkit-box-shadow: 1px 1px 5px 2px #c0c0c0;
    box-shadow: 1px 1px 5px 2px #c0c0c0;
    -webkit-transition: all 1s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background-color: #FFF;
    border: none;
}

#accueil .panel {
    -moz-box-shadow: 1px 1px 5px 2px #9B9B9B;
    -webkit-box-shadow: 1px 1px 5px 2px #9B9B9B;
    box-shadow: 1px 1px 5px 2px #9B9B9B;
}

.inline-block {
    display: inline-block;
}

h1, h2 {
    text-align: center;
}

h1.big {
    font-size: 20pt;
}

hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

div.large-8.columns.small-12 h1 {
    text-align: left;
    font-size: 40px;
}

div.large-6.columns.small-12 h3 {
    margin-left: 30px;
}

div.large-12.columns > div.large-4.columns.small-5 {
    float: right;
    text-align: right;
    margin-top: 10px;
}

div.large-3.columns.small-6 {
    float: right;
}

h1, h2, h3, a.button {
    font-family: Armata, sans-serif;
}

h1 {
    font-size: 27px;
    margin-bottom: 1rem;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 19px;
}

h4 {
    font-size: 17px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 14px;
}

.partage h4 {
    display: inline;
}

div.large-12.columns .row img{
    padding-right: 5px;
}

.large-3.columns.small-12 h3 {
    text-align: left;
    margin-left: 30px;
}

.large-2.columns.small-7 {
    float: right;
    padding-left: 0;
    padding-right: 30px;
    width: 150px;
}

.large-3.columns.small-5 {
    float: right;
    width: 210px;
    padding-right: 0;
}

.partage {
    float: right;
    margin-right: 28px;
}

.panel h2 {
    text-align: center;
}

[class^="note-"] {
    width: 109px;
    height: 92px;
    background: url("../img/hexagone-note-sprites.png");
    text-align: center;
    line-height: 92px;
    font-size: 1.8em;
    margin-bottom: 25px;
    color: #FFF;
}

[class^="note-"].small {
    width: 83px;
    height: 71px;
    background: url("../img/hexagone-note-sprites-small.png");
    line-height: 71px;
}

.note-0 {
    background-position: 0 0;
}
.note-1 {
    background-position: 220px 0;
}
.note-2 {
    background-position: 111px 0;
}
.note-3 {
    background-position: 0 188px;
}
.note-4 {
    background-position: 220px 188px;
}
.note-5 {
    background-position: 111px 188px;
}
.note-6 {
    background-position: 0 284px;
}

.note-0.small {
    background-position: 0 0;
}
.note-1.small {
    background-position: -83px 0;
}
.note-2.small {
    background-position: -166px 0;
}
.note-3.small {
    background-position: 0 -72px;
}
.note-4.small {
    background-position: -83px -72px;
}
.note-5.small {
    background-position: -165px -72px;
}
.note-6.small {
    background-position: 0 -144px;
}

.note ul {
    font-size: 12px;
    margin: 0;
}

.note ul > li {
    display: inline-block;
    list-style: none;
}

footer {
    background-color: #CECECE;
    padding: 0.6rem 0;
    border-top: solid #056687 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

iframe {
    border: none;
}

footer p {
    margin-bottom: 0;
}

footer .row {
    max-width: 72.5rem;
}

footer .center, .links > a {
    text-align: center;
    display: block;
}

footer .links {
    margin: 15px 0;
}

.large-footer > .row {
    margin-bottom: 0.5rem;
}

.social-link > .columns{
    padding-top: 5px;
}

.social-link > div {
    margin-bottom: 0.5rem;
}

.sitemap {
    /*text-align: left;*/
    padding: 0 5px;
}

.sitemap a + a {
    display: block;
    /*max-width: 250px;*/
    border-top: solid #959595 1px;
}

.sitemap * {
    padding: 3px 15px;
}

.contact p {
    margin: 5px 0;
}

.no-padding {
    padding: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

input[type=radio] {
    margin: 0.5rem 0 1rem;
}

.radio-participants {
    padding-left: 82px;
}

.radio-boutons {
    margin-left: 15px;
}

section p a {
    color: #052087;
    font-family: Armata, sans-serif;
}

section .partage > img {
    padding: 0 5px;
}

#login-box {
    text-align: center;
    background-color: #FFF;
    padding-top: 30px;
    margin-bottom: 30px;
}

.decalage {
    height: 50px;
}

.titre {
    margin-bottom: 20px;
}

@media only screen and (max-width: 40em) {
    h1 {
        font-size: 19px;
    }

    h2 {
        font-size: 17px;
    }

    body{  padding-bottom: 15rem; }

    .small-no-padding { padding: 0;}

    .small-no-padding-left {padding-left: 0;}
    .small-no-padding-right {padding-right: 0;}

}

@media only screen and (min-width: 40em) and (max-width: 64em) {
    h1 {
        font-size: 23px;
    }

    h2 {
        font-size: 20px;
    }

}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

@media only screen and (min-width: 64em) and (max-width: 90em) {
    h1 {
        font-size: 27px;
    }

    h2 {
        font-size: 23px;
    }
}

/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
/*
.panel.grid-item {
    margin-left: 5px;
    padding: 1rem;
}*/

.panel h4 {
    font-size: 16px;
}

.panel h5 {
    font-size: 16px;
}

header {
    border-bottom: solid #056687 5px;
    margin-bottom: 2rem;
}

header .row {
    max-width: 72.5rem;
    margin-bottom: 0.5rem;
    margin-top:    0.5rem;
    max-height: 3rem;
}

header .align-right {
    float: right;
}

header ul {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
}

header li {
    display: inline-block;
}

header ul > li > a {
    border-bottom: 1px solid transparent;
    transition: border-color ease-in-out 300ms;
}

header ul > li > a:hover {
    color: #056687;
}

header li + li {
    padding: 0 8px;
}

header .row > .columns {
    height: 36px;
}

header .columns.text-right {
    padding-top: 5px;
}



form .row .row.collapse {
    margin-bottom: 10px;
    margin-top: 10px;
}

header nav.tab-bar {
    background-color: #FFF;
}

.row.no-margin-top {
    margin-top: 0;
    padding: 0;
    max-width: 72.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

nav .left-small {
    position: relative;
}

nav .menu-icon {
    color: #FFFFFF;
    display: block;
    height: 2.8125rem;
    position: relative;
    text-indent: 2.1875rem;
    transform: translate3d(0, 0, 0);
    width: 2.8125rem;
}

nav .menu-icon span::after {
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
    left: 0.90625rem;
    box-shadow:  0 0 0 2px #056687, 0 8px 0 2px #056687, 0 16px 0 2px #056687;
    width: 1.5rem;
}

nav .menu-icon span:hover:after {
    box-shadow: 0 0 0 1px #b3b3b3, 0 7px 0 1px #b3b3b3, 0 14px 0 1px #b3b3b3;
}

nav .left-small {
    border: none;
}

.hide-for-large .row + .row {
    width: 93%;
    height: 50%;
    padding: 0.2rem;
}
nav > .row {

}

.mobile-nav {
    display: inline-flex;
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    transition: left 1s;
    padding: 25px 0 0;
    -moz-box-shadow: 1px 0 5px 1px #9b9b9b;
    -webkit-box-shadow: 1px 0 5px 1px #9b9b9b;
    box-shadow: 1px 0 5px 1px #9b9b9b;
}

.mobile-nav-item {
    display: block;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: center;
}

.mobile-nav-item a {
    text-decoration: none;
    color: #056687;
    text-transform: uppercase;
}

.mobile-nav-item:hover {
    background-color: #CECECE
}

.mobile-nav-item.active a {
    color: #FF5A36;
}

@media (max-width: 1025px) {
    .mobile-nav {
        width: 15rem;
        background-color: #e6e6e6;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 2;
        display: block;
        border: none;
    }
}

#button-open, #button-open-input {
    width: 50px;
    height: 40px;
    position: fixed;
    top: 4px;
    left: 4px;
    z-index: 2;
    display: none;
}

#button-open-input {
    opacity: 0;
    z-index: 3;
    padding: 0;
    margin: 0;
}

#button-open-input:hover {
    cursor: pointer;
}

#button-close-input {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(115, 115, 115, 0.5);
    right: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    display: none;
    transition: background-color 1000ms linear
}

#button-close-input:checked ~ ul {
    left: -80%;
}

#button-close-input:checked {
    right: -100%;
    transition: background-color 1000ms linear
}

#button-open-input, #button-open, #button-close-input {
    display: block;
}

.mobile-nav h2 {
    padding-top: 2rem;
}

.panel .row {
    margin: 0;
}

.button.button-small {
    font-family: "Liberation Sans", sans-serif;
    font-size: 12pt;
    padding: 10px;
}

.button-delete {
    background-color: #FF5A36;
}

.button-delete:hover {
    background-color: #d6081b;
}

button[data-filter].panel {
    width: inherit;
}

input.button {
    width: 100%;
    padding: 10px;
}

li.account {
    margin-top: 1.5rem;
}

.alert-box.alert > ul {
    display: inline-block;
    height: 0;
}

*[data-href] { 
    cursor: pointer; 
}

#account-popup {
    position: absolute;
    visibility: hidden;
    top: 35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 1rem;
    text-align: left;
    z-index: 1;
    background-color: white;
    -moz-box-shadow: 0 0 2px 1px #9b9b9b;
    -webkit-box-shadow: 0 0 2px 1px #9b9b9b;
    box-shadow: 0 0 2px 1px #9b9b9b;
    opacity: 0;
    -webkit-transition: visibility 150ms, opacity 150ms linear;
    transition: visibility 150ms, opacity 150ms linear;
}

#onglets-manage-menu {
    list-style: none;
    text-align: center;
    vertical-align: middle;
}

#onglets-manage-menu li {
    padding-bottom: 0.5rem;
}

.row.margin-top {
    margin-top: 3rem;
}

.row.margin-top h3 {
    margin-bottom: 1rem;
}

#account-popup a {
    white-space: nowrap;
}

div:hover > #account-popup {
    visibility: visible;
    opacity: 1;
    -webkit-visibility: visible;
    -moz-visibility: visible;
}

#mySingleField, #user_id {
    display: none;
}

#singleFieldTags {
    background-color: #FFFFFF;
}

ul.tagit li.tagit-new {
    padding: 0;
}

.price-fields .row * {
    float:right;
}

a.buttonGoTop {
    width:37px;
    height:34px;
    padding:10px;
    position:fixed;
    top:90%;
    right:3%;
    cursor: pointer;
    background: url("../img/arrow.png") no-repeat;
    display: none; 
    z-index: 2;
}

#agenda > div {
    width: auto;
    text-align: center;
}

#years, #months {
    font-size: 18px;
}

#days {
    font-size: 16px;
}

#years *, #months *, #days * {
    padding: 0.1rem 0.5rem;
    display: inline;
    color: #056687;
}

#days * {
    padding: 0.1rem 0.4rem;
}

#remove {
    color: #FF5A36;
}

.row.catalogue {
    max-width: 95rem;
}

#map-anchor {
    position: fixed;
    right: -17px;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    -webkit-transition: width 300ms, right 300ms; /* Safari */
    transition: width 300ms, right 300ms;
    width: 64px;
}

#map-anchor:hover {
    right:0;
    width: 75px;
}

#map {
    height: 400px;
    width: 100%;
}

#form h2 {
    margin-bottom: 2rem;
}

input.wrong {
    border-color: #FF5A36;
}

input.wrong:focus {
    border-color: #FF5A36;
}

.right {
    right: 0;
}

.validate {
    margin-top: 2rem;
}

#form label {
    font-size: 16px;
}

#form label[for="presentation_picture_id"] {
    font-size: 16px;
}

input[name="presentation_picture"] {
    display: none;
}

.reveal-modal.auth-modal {
    max-width: 35rem;
}

.reveal-modal.auth-modal h1 {
    color: #FF5A36;
}

.reveal-modal .panel {
    border: none;
    box-shadow: none;
}

input[type=text].search-input {
    width: 25px;
    height: 30px;
    display: inline-block;
    border-radius: 3px;
    background: url('../img/ico_search.svg') no-repeat center;
    background-size: auto 55%;
    border: none #ff9183;
    box-shadow: none;
}

input[type=text].search-input.focused {
    padding-right:17px;
    background-position:right;
    border:1px solid #ff9183;
}

.temporel {
    background-color: #222222;
    color: #FFFFFF;
    bottom: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.temporel p {
    margin: 0;
}

.float-none {
    float: none;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

#tableAlerts {
    width: 100%;
}

.row.fields .delete-price {
    text-decoration: none;
    color: grey;
}

.white-link, .white-link:hover, .white-link:active, .white-link:focus {
    color: white;
}

.alert-box.alert.round p {
    margin-bottom: 0;
}

.error {
    color:#FF5A36;
}